* {
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    color: #393E46 !important;
}

.navbar {
    background: #adebb3;
    font-size: 1.1rem !important;
}

.navbar .navbar-brand {
    width: 75px;
    height: auto;
}

.navbar .navbar-nav .nav-link:hover {
    color: #222831 !important;
}

.navbar .navbar-nav .contact-btn {
    background: #393E46;
    color: white !important;
    border-radius: 5px;
}

.navbar .navbar-nav .contact-btn:hover {
    background: #222831;
    color: white !important;
    border-radius: 5px;
}

.navbar .navbar-nav .contact-btn i {
    color: white !important;
}

#home {
    height: 100%;
}

.home-content h1 {
    font-size: calc(2.5rem + 2vw);
}

.home-content .home-description {
    font-family: 'Lato', sans-serif;
}

.venus-image {
    mask-image: linear-gradient(to bottom, black 80%, transparent);
}

.search-logo {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: auto;
    animation: zoomIn 2s ease-in-out infinite;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.circle-1 {
    position: absolute;
    top: 55%;
    left: 7.5%;
    width: 25%;
    height: auto;
    animation: zoomIn 2s ease-in-out infinite;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.circle-2 {
    position: absolute;
    top: 20%;
    right: 7.5%;
    width: 30%;
    height: auto;
    animation: zoomIn 2s ease-in-out infinite;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.mint-green-text {
    color: #58855C !important;
}

.btn-mint-green {
    color: white !important;
    border: none;
    background: linear-gradient(to right, #58855C, #3E5F41, #253C27);
    background-size: 200% 125%;
    background-position: left center;
    padding: 10px 40px;
    transition: background-position 0.5s ease-in-out;
    text-decoration: none;
    width: fit-content;
    border-radius: 5px;
    font-weight: 700;
    font-size: calc(1.1rem + 0.25vw);
    letter-spacing: 2px;
}

.btn-mint-green i {
    color: white !important;
}

.btn-mint-green:hover {
    background-position: right center;
    color: white !important;
}

.btn-mint-green:hover i {
    color: white !important;
}

.companies-content h2 {
    font-size: calc(2rem + 1vw);
    margin-bottom: 1rem;
}

.companies-container {
    width: 75%;
    max-width: 1000px;
    min-width: 335px;
    overflow: hidden;
    position: relative;
}

.companies-container::before,
.companies-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.companies-container::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.companies-container::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}

.companies-container .companies-container-track {
    height: 178px;
    position: relative;
    min-width: 1000px;
}

.companies-content .companies-container .company-logo-item {
    position: absolute;
    width: 250px;
    height: auto;
    left: 100%;
    animation: slideToLeft 30s linear infinite;
}

.companies-content .companies-container.reverse .company-logo-item {
    position: absolute;
    width: 250px;
    height: auto;
    left: -250px;
    animation: slideToRight 30s linear infinite;
}

.companies-container .company-logo-item:nth-child(1) {
    animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.companies-container .company-logo-item:nth-child(2) {
    animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.companies-container .company-logo-item:nth-child(3) {
    animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.companies-container .company-logo-item:nth-child(4) {
    animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.companies-container .company-logo-item:nth-child(5) {
    animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

/* Reverse slide*/
.companies-container.reverse .company-logo-item:nth-child(1) {
    animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.companies-container.reverse .company-logo-item:nth-child(2) {
    animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.companies-container.reverse .company-logo-item:nth-child(3) {
    animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.companies-container.reverse .company-logo-item:nth-child(4) {
    animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.companies-container.reverse .company-logo-item:nth-child(5) {
    animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

.services-content h2 {
    font-size: calc(2rem + 1vw);
    margin-bottom: 1rem;
}

.services .service-item {
    background: #adebb3;
    width: 30vw;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    opacity: 0;
    animation: fade-in-out linear forwards;
    animation-timeline: view();
    animation-range: 0 125%;
}

.outcomes-content {
    background: #393E46;
}

.outcomes-content h2 {
    font-size: calc(2rem + 1vw);
    margin-bottom: 1rem;
    color: white !important;
}

.outcomes-content h3 {
    font-size: calc(1.5rem + 1vw);
    margin-bottom: 1rem;
    color: white !important;
}

.outcomes-content .outcome-container:nth-child(odd) {
    animation: slideFromLeftToRight linear forwards;
    animation-timeline: view();
    animation-range: -10% 100%;
}

.outcomes-content .outcome-container:nth-child(even) {
    animation: slideFromRightToLeft linear forwards;
    animation-timeline: view();
    animation-range: -10% 100%;
}

.outcomes-content .outcome-item {
    background: white;
    border-radius: 5px;
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.outcomes-content .outcome-item i {
    padding-top: .360rem;
}

.outcomes-content .outcome-item .fa-circle-exclamation {
    color: #e93d3d !important;
}

.outcomes-content .outcome-item .fa-circle-check {
    color: #58855C !important;
}

.outcomes-content .outcome-item p {
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

.latest-projects h2 {
    font-size: calc(1.5rem + 1vw);
    color: #58855C !important;
    border-bottom: 2px solid #393E46;
}

.latest-projects .see-all {
    font-size: calc(1.1rem + 0.5vw);
}

.latest-projects .projects .card {
    min-width: 300px !important;
    position: relative;
    overflow: hidden;
}

.projects .card .card-body {
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, #58855C);
    opacity: 0;
    overflow: hidden;
}

.projects .card:hover {
    transform: scale(1.05);
    transition: transform .25s ease-in-out;
}

.projects .card:hover .card-body {
    opacity: 1;
    transition: .5s ease-in-out;
}

.projects .card .card-body p {
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

.tools-used h2 {
    font-size: calc(1.5rem + 1vw);
    color: #58855C !important;
    border-bottom: 2px solid #393E46;
}

.tools-used .see-all {
    font-size: calc(1.1rem + 0.5vw);
}

.tools-used .tools .card {
    animation: shake 1.50s ease-in-out infinite;
    overflow: hidden;
}

.tools-used .tools .card .card-body {
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, #58855C);
    opacity: 0;
    overflow: hidden;
}

.tools-used .tools .card:hover {
    transform: scale(1.05);
    transition: transform .25s ease-in-out;
}

.tools-used .tools .card:hover .card-body {
    opacity: 1;
    transition: .5s ease-in-out;
}

.client-reviews {
    background: #393E46;
}

.client-reviews h2 {
    font-size: calc(2rem + 1vw);
    color: white !important;
}

.client-reviews .reviews .review-item {
    width: 20rem;
    animation: fade-in-out linear forwards;
    animation-timeline: view();
    animation-range: 0 125%;
}

.reviews .review-item p {
    color: white !important;
    font-family: 'Latos', sans-serif;
}

.reviews .review-item .review-client-image {
    width: 150px;
    height: auto;
    background: white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px #222831;
}

.reviews .review-item .review-client-image img {
    width: 100%;
    height: auto;
}

.review-item .review-body .comment p, .review-item .review-body .client-company p {
    color: #adebb3 !important;
}

.review-item .review-body .client-company p {
    font-style: italic;
}

.review-item .review-body .statement {
    text-align: justify;
}

.review-item .review-body .review-rating i {
    color: #adebb3 !important;
}

.frequently-asked-questions h2 {
    font-size: calc(2rem + 1vw);
}

.frequently-asked-questions .accordion {
    min-width: 320px;
}

.frequently-asked-questions .accordion .accordion-button {
    font-size: calc(.65rem + .5rem);
    border-bottom: 2px solid #393E46;
    border-top: 2px solid #393E46;
    border-left: 2px solid #393E46;
    border-right: 2px solid #393E46;
    transition: border-bottom-color 0.75s ease-in-out;
}

.frequently-asked-questions .accordion .accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.frequently-asked-questions .accordion .accordion-button:not(.collapsed) {
    background: #adebb3 !important;
    color: #393E46 !important;
    box-shadow: none !important;
    border-bottom-color: transparent;
}

.frequently-asked-questions .accordion .accordion-button:not(.collapsed)::after {
    background-image: url("/static/assets/arrow.png") !important;
}

.frequently-asked-questions .accordion .accordion-button::after {
    background-image: url("/static/assets/arrow.png") !important;
}

.frequently-asked-questions .accordion .accordion-collapse {
    border: 2px solid #393E46;
    border-top: none;
}

.landing-pages h2 {
    font-size: calc(2rem + 1vw);
}

.landing-pages .item .section-2 {
    width: fit-content;
}

.landing-pages .item .description {
    font-family: 'Latos', sans-serif;
    text-align: justify;
}

.landing-pages .item .img-container {
    width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

.landing-pages .item .section-2 p {
    font-family: 'Latos', sans-serif;
    font-size: 0.875rem;
    color: #3E5F41 !important;
    font-weight: 600;
}

.contact {
    background: #393E46;
}

.contact h2 {
    color: white !important;
    font-weight: bold;
    font-size: 12vmin;
}

.contact .contact-section-1, .contact-section-2 {
    min-width: 300px;
}

.contact .contact-section-2 [type=text], .contact .contact-section-2 [type=email] {
    font-family: 'Latos', sans-serif;
}

.contact .contact-section-2 [type=text]:focus, .contact .contact-section-2 [type=email]:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #222831;
}

.contact .contact-section-2 .horizontal-line {
    color: white !important;
}

.contact .contact-section-2 p {
    color: white !important;
    font-family: 'Latos', sans-serif;
    text-align: justify;
}

.about-me h2 {
    font-size: calc(2rem + 1vw);
}

.about-me .about-item .about-section-1 {
    width: 50%;
}

.about-me .about-item .about-section-1 p {
    font-family: 'Latos', sans-serif;
    text-align: justify;
    font-weight: 600;
}


.about-me .about-item .about-section-2 .image-container {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.about-me .about-item .about-section-2 .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about-me .about-item:nth-child(odd) {
    flex-direction: row !important;
}

.about-me .about-item:nth-child(even) {
    flex-direction: row-reverse !important;
}

.tools h2 {   
    font-size: calc(2rem + 1vw);
}

.tools .tool-item .tool-section-1 {
    width: 50%;
}

.tools .tool-item .tool-section-1 p {
    font-family: 'Latos', sans-serif;
    text-align: justify;
    font-weight: 600;
}


.tools .tool-item .tool-section-2 .image-container {
    width: 100%;
    min-width: 200px;
    max-width: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.tools .tool-item .tool-section-2 .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.graphic-designs h2 {
    font-size: calc(2rem + 1vw);
}

.graphic-designs .item .item-title p {
    font-size: calc(1.5rem + 0.50vw);
}

.graphic-designs .item .image-container {
    min-width: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.graphic-designs .item .image-container img {
    width: 100%;
    height: auto;
}

.workflows h2 {
    font-size: calc(2rem + 1vw);
}

.workflows .carousel {
    border: 2px solid #3E5F41;
}

.workflows .carousel .carousel-indicators [data-bs-target] {
    background-color: #3E5F41 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(100) saturate(100%) sepia(100%) hue-rotate(65deg) brightness(0) !important;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  filter: brightness(100) saturate(100%) sepia(100%) hue-rotate(65deg) brightness(0) !important;
}

.services-page h2 {
    font-size: calc(2rem + 1vw);
}

.services-page .service-item {
    position: relative;
}

.services-page .service-image {
    position: relative;
    max-height: 75vh;
    overflow: hidden;
}

.services-page .service-item img {
    width: 100%;
    height: auto;
}

.services-page .service-item .service-image:after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.services-page .service-item .service-item-content {
    position: absolute;
}

.services-page .service-item .service-item-content p {
    color: white !important;
    z-index: 2;
    position: relative;
}

.services-page .service-item .service-item-content .service-title p {
    font-size: calc(1.5rem + 0.75vw);
    font-weight: 600;
}

.services-page .service-item .service-item-content .service-description p {
    font-size: calc(1rem + 0.25vw);
    font-family: 'Latos', sans-serif;
}

.testimonials h2 {
    font-size: calc(2rem + 1vw);
}

.testimonials .testimonial-item .testimonial-title p {
    font-size: calc(1.2rem + 0.75vw);
    font-weight: 600;
}

.testimonials .testimonial-item .testimonial-sub-title p {
    font-size: calc(1rem + 0.50vw);
    font-weight: 500;
}

.testimonials .testimonial-item .testimonial-transcript p {
    font-family: 'Latos', sans-serif;
}

.testimonials .testimonial-item .testimonial-section-2 video {
    width: 100%;
    height: auto;
    min-width: 300px;
}

.modal-container {
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    height: auto;
    min-height: fit-content;
    border: none;
    border-radius: 5px;
    min-width: 320px;
    margin: 4vh auto;
    animation: slideDown 0.5s ease-in-out;
}

.modal-container .fa-xmark {
    font-size: calc(1rem + 0.25vw);
    cursor: pointer;
}

.modal-container h3 {
    font-size: calc(1.5rem + 0.75vw);
}

.modal-container [type=text], .modal-container [type=email] {
 font-family: 'Latos', sans-serif;
}

.modal-container [type=text]:focus, .modal-container [type=email]:focus {
    outline: none !important;
    box-shadow: none;
    border-color: #393E46;
}

.modal-container::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.footer {
    background: #adebb3;
    min-height: 50vh;
}

.footer .footer-section-1 .footer-brand {
    width: 150px;
    height: auto;
}

@keyframes slideFromLeftToRight {
    0%{
        transform: translateX(-328px);
        opacity: 0;
    }
    30% {
        transform: translateX(0);
        opacity: 1;
    }
    70% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-328px);
        opacity: 0;
    }
}

@keyframes slideFromRightToLeft {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    30% {
        transform: translateX(0);
        opacity: 1;
    }
    70% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideDown {
    from {
        top: 35%;
    }

    to {
        top: 50%;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
        scale: 0;
    }
    30% {
        opacity: 1;
        scale: 1;
    }
    70% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: 0;
        scale: 0;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(3deg);
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }


}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slideToLeft {
    to {
        left: -250px;
    }
}

@keyframes slideToRight {
    to {
        left: 100%;
    }
}

@media (min-width: 768px) {
   .home-description {
    text-align: justify;
   }
}

@media (max-width: 991px) {
    .contact-btn {
        width: fit-content;
    }
}

@media (max-width: 991px) {
    .tools .tool-item .tool-section-1 {
        width: initial;
    }
}


@media (max-width: 768px) {
    .services .service-item {
        width: 100%;
    }
}