{% extends 'base.html' %}

{% block title %} Venus Portfolio {% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg ps-lg-5 pe-lg-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Build Automate Logo" class="img-fluid"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Me</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Works
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Testimonial Videos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link contact-btn ps-2 pe-2 ps-lg-3 pe-lg-3" href="#">Contact <i class="fa-solid fa-arrow-right ms-2"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container-fluid">
    <!-- Home --> 
    <div class="row d-flex align-items-center ps-4 pe-4 pt-4 pt-lg-0 home-content" id="home">
        <div class="col-md-6 d-flex flex-column align-items-center align-items-md-start gap-3">
        <div class="form-group text-center text-md-start">
            <p class="mb-0">Hello, I'm</p>
            <h1 class="mint-green-text mb-0">Venus Villaflor</h1>
            <p class="mb-0 home-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit hic optio consequuntur nihil molestiae laudantium suscipit repellendus alias facere id tempore, minima cum! Rerum vitae, eum explicabo recusandae pariatur doloremque autem, accusantium fugiat eaque quis nostrum cum aliquid quibusdam odio dolor blanditiis asperiores natus, architecto voluptate. Reiciendis mollitia facere temporibus?</p>
        </div>
        <a href="#" class="btn-mint-green">View Portfolio <i class="fa-solid fa-arrow-right ms-2"></i></a>
        </div>
        <div class="col-md-6">
        <div class="position-relative">
            <img src="{{ url_for('static', filename='assets/circles.png')}}" alt="Circle 1" class="img-fluid circle-1">
            <img src="{{ url_for('static', filename='assets/circles.png')}}" alt="Circle 2" class="img-fluid circle-2">
            <img src="{{ url_for('static', filename='assets/search-logo.png') }}" alt="Search Logo" class="img-fluid search-logo">
            <img src="{{ url_for('static', filename='assets/Venus.png') }}" alt="Venus" class="img-fluid venus-image">
        </div>
        </div>
    </div>

    <!-- Companies -->
    <div class="row companies-content mt-5">
        <div class="col-md-12 d-flex flex-column align-items-center text-center">
            <h2 class="mint-green-text">Companies I've Worked With</h2>
            <div class="companies-container">
              <div class="companies-container-track d-flex">
                  <div class="company-logo-item">
                    <img src="{{ url_for('static', filename='assets/workergenix.png') }}" alt="Company 1" class="img-fluid">
                  </div>
                  <div class="company-logo-item">
                    <img src="{{ url_for('static', filename='assets/workergenix.png') }}" alt="Company 1" class="img-fluid">
                  </div>
                  <div class="company-logo-item">
                    <img src="{{ url_for('static', filename='assets/workergenix.png') }}" alt="Company 1" class="img-fluid">
                  </div>
                  <div class="company-logo-item">
                    <img src="{{ url_for('static', filename='assets/workergenix.png') }}" alt="Company 1" class="img-fluid">
                  </div>
                  <div class="company-logo-item">
                    <img src="{{ url_for('static', filename='assets/workergenix.png') }}" alt="Company 1" class="img-fluid">
                  </div>
              </div>
            </div>
        </div>
    </div>

    <!-- Services -->
    <div class="row services-content mt-5" id="services">
        <div class="col-12 text-center">
            <h2 class="mint-green-text">Do you need help in any of these?</h2>
            <div class="services d-flex flex-column gap-4 gap-md-3 align-items-center">
              <div class="row d-flex gap-2 gap-md-4 w-100 flex-column flex-md-row justify-content-md-center">
                  <div class="service-item"><i class="fa-solid fa-users me-2"></i> User Management</div>
                  <div class="service-item"><i class="fa-solid fa-gear me-2"></i> Settings</div>
                  <div class="service-item"><i class="fa-solid fa-question-circle me-2"></i> Support</div>
              </div>
              <div class="row d-flex gap-2 gap-md-4 w-100 flex-column flex-md-row justify-content-md-center">
                  <div class="service-item"><i class="fa-solid fa-users me-2"></i> User Management</div>
                  <div class="service-item"><i class="fa-solid fa-gear me-2"></i> Settings</div>
                  <div class="service-item"><i class="fa-solid fa-question-circle me-2"></i> Support</div>
              </div>
              <div class="row d-flex gap-2 gap-md-4 w-100 flex-column flex-md-row justify-content-md-center">
                  <div class="service-item"><i class="fa-solid fa-users me-2"></i> User Management</div>
                  <div class="service-item"><i class="fa-solid fa-gear me-2"></i> Settings</div>
                  <div class="service-item"><i class="fa-solid fa-question-circle me-2"></i> Support</div>
              </div>
              <div class="row d-flex gap-2 gap-md-4 w-100 flex-column flex-md-row justify-content-md-center">
                  <div class="service-item"><i class="fa-solid fa-users me-2"></i> User Management</div>
                  <div class="service-item"><i class="fa-solid fa-gear me-2"></i> Settings</div>
                  <div class="service-item"><i class="fa-solid fa-question-circle me-2"></i> Support</div>
              </div>
              <div class="row d-flex gap-2 gap-md-4 w-100 flex-column flex-md-row justify-content-md-center">
                  <div class="service-item"><i class="fa-solid fa-users me-2"></i> User Management</div>
                  <div class="service-item"><i class="fa-solid fa-gear me-2"></i> Settings</div>
                  <div class="service-item"><i class="fa-solid fa-question-circle me-2"></i> Support</div>
              </div>
              <div class="row d-flex gap-2 gap-md-4 w-100 flex-column flex-md-row justify-content-md-center">
                  <div class="service-item"><i class="fa-solid fa-users me-2"></i> User Management</div>
                  <div class="service-item"><i class="fa-solid fa-gear me-2"></i> Settings</div>
                  <div class="service-item"><i class="fa-solid fa-question-circle me-2"></i> Support</div>
              </div>
            </div>
            <div class="mt-5">
              <button class="btn-mint-green">Yes I need help! Book a call now</button>
            </div>
        </div>
    </div>

    <!-- Outcomes -->
    <div class="row outcomes-content mt-5 pt-5 pb-5 p-2">
        <div class="col-12 text-center h-100">
            <h2 class="mint-green-text">Struggling with this outcome?</h2>
            <div class="d-flex flex-column gap-3">
                <div class="row flex-column flex-md-row align-items-stretch justify-content-md-center gap-3 h-100">
                  <div class="col-12 col-md-4 d-flex p-0">
                    <div class="outcome-item d-flex flex-column gap-2">
                      <div class="outcome-section-1 d-flex gap-2">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi nulla asperiores facere nihil alias enim veritatis similique, obcaecati quia nam qui voluptates laborum, ad tenetur.</p>
                      </div>
                      <div class="outcome-section-2 d-flex gap-2">
                        <i class="fa-solid fa-circle-check"></i>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aspernatur id placeat dicta, quod consequuntur dolor tempora. Quod soluta eos incidunt, aut aspernatur eaque libero.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 d-flex p-0">
                    <div class="outcome-item d-flex flex-column gap-2">
                      <div class="outcome-section-1 d-flex gap-2">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aspernatur id placeat dicta, quod consequuntur dolor tempora. Quod soluta eos incidunt, aut aspernatur eaque libero.</p>
                      </div>
                      <div class="outcome-section-2 d-flex gap-2">
                        <i class="fa-solid fa-circle-check"></i>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt perferendis, ipsum, similique et provident fugit natus quae corrupti eaque itaque eius, nobis aliquam officiis vitae.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row flex-column flex-md-row align-items-stretch justify-content-md-center gap-3 h-100">
                  <div class="col-12 col-md-4 d-flex p-0">
                    <div class="outcome-item d-flex flex-column gap-2">
                      <div class="outcome-section-1 d-flex gap-2">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi nulla asperiores facere nihil alias enim veritatis similique, obcaecati quia nam qui voluptates laborum, ad tenetur.</p>
                      </div>
                      <div class="outcome-section-2 d-flex gap-2">
                        <i class="fa-solid fa-circle-check"></i>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aspernatur id placeat dicta, quod consequuntur dolor tempora. Quod soluta eos incidunt, aut aspernatur eaque libero.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 d-flex p-0">
                    <div class="outcome-item d-flex flex-column gap-2">
                      <div class="outcome-section-1 d-flex gap-2">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aspernatur id placeat dicta, quod consequuntur dolor tempora. Quod soluta eos incidunt, aut aspernatur eaque libero.</p>
                      </div>
                      <div class="outcome-section-2 d-flex gap-2">
                        <i class="fa-solid fa-circle-check"></i>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt perferendis, ipsum, similique et provident fugit natus quae corrupti eaque itaque eius, nobis aliquam officiis vitae.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center gap-3 mt-5">
              <h3 class="text-white">Don't worry, I got you covered</h3>
              <button class="btn-mint-green">Let's connect</button>
            </div>
        </div>
    </div>

    <!-- Latest Projects -->
    <div class="row latest-projects justify-content-md-center mt-5 p-2 p-sm-5">
      <div class="col-12 text-center h-100">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Latest Projects</h2>
          <a href="#" class="nav-link see-all">See All</a>
        </div>

        <div class="projects d-flex flex-column align-items-center flex-lg-row gap-3 justify-content-center mt-5 flex-wrap">
          <div class="card flex-fill" style="width: 18rem;">
            <img src="{{url_for('static', filename='assets/workergenix.png')}}" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-center">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
          </div>

           <div class="card flex-fill" style="width: 18rem;">
            <img src="{{url_for('static', filename='assets/workergenix.png')}}" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-center">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
          </div>

           <div class="card flex-fill" style="width: 18rem;">
            <img src="{{url_for('static', filename='assets/workergenix.png')}}" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-center">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tools Used -->
    <div class="row tools-used mt-5 p-2 p-sm-5">
      <div class="col-12 text-center h-100">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="mint-green-text">Tools I Use</h2>
          <a href="#" class="nav-link see-all">See All</a>
        </div>
        
        <div class="tools d-flex gap-3 flex-column align-items-center flex-lg-row justify-content-center mt-5 flex-wrap">
            <div class="card flex-fill" style="width: 11rem;">
              <img src="{{url_for('static', filename='assets/workergenix.png')}}" class="card-img-top" alt="...">
              <div class="card-body d-flex align-items-end p-0 ps-2 pb-2 fs-5">
                <p class="card-text">Title</p>
              </div>
            </div>
             <div class="card flex-fill" style="width: 11rem;">
              <img src="{{url_for('static', filename='assets/workergenix.png')}}" class="card-img-top" alt="...">
              <div class="card-body d-flex align-items-end p-0 ps-2 pb-2 fs-5">
                <p class="card-text">Title</p>
              </div>
            </div>
             <div class="card flex-fill" style="width: 11rem;">
              <img src="{{url_for('static', filename='assets/workergenix.png')}}" class="card-img-top" alt="...">
              <div class="card-body d-flex align-items-end p-0 ps-2 pb-2 fs-5">
                <p class="card-text">Title</p>
              </div>
            </div>
             <div class="card flex-fill" style="width: 11rem;">
              <img src="{{url_for('static', filename='assets/workergenix.png')}}" class="card-img-top" alt="...">
              <div class="card-body d-flex align-items-end p-0 ps-2 pb-2 fs-5">
                <p class="card-text">Title</p>
              </div>
            </div>
             <div class="card flex-fill" style="width: 11rem;">
              <img src="{{url_for('static', filename='assets/workergenix.png')}}" class="card-img-top" alt="...">
              <div class="card-body d-flex align-items-end p-0 ps-2 pb-2 fs-5">
                <p class="card-text">Title</p>
              </div>
            </div>
             <div class="card flex-fill" style="width: 11rem;">
              <img src="{{url_for('static', filename='assets/workergenix.png')}}" class="card-img-top" alt="...">
              <div class="card-body d-flex align-items-end p-0 ps-2 pb-2 fs-5">
                <p class="card-text">Title</p>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Client Reviews -->
    <div class="row client-reviews mt-5 p-2 pt-5 pb-5">
      <div class="col-12 d-flex flex-column align-items-center text-center h-100">
        <h2 class="mint-green-text">What my clients are saying</h2>
        <div class="reviews d-flex justify-content-around gap-5 flex-wrap w-75">
              <div class="review-item d-flex flex-column align-items-center gap-4">
                <div class="review-client-image">
                  <img src="{{ url_for('static', filename='assets/xavier.jpg')}}" alt="Client Image">
                </div>
                <div class="review-body d-flex flex-column gap-2">
                  <div class="comment">
                    <p class="mb-0 fw-bold fs-5">"Lorem ipsum dolor sit amet."</p>
                  </div>
                  <div class="statement">
                    <p class="mb-0">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda officia enim dolores? Sapiente nam nesciunt deleniti tenetur ipsum unde nostrum, mollitia voluptatem ex accusantium minima temporibus officia ea aut, eligendi id, laborum ducimus ab placeat expedita eaque. Placeat eius aliquam doloremque nisi quos a nulla suscipit, nostrum vero optio eveniet."</p>
                  </div>
                  <div class="client-name">
                    <p class="mb-0 fw-bold">&dash; Client Name</p>
                  </div>
                  <div class="client-company">
                    <p class="mb-0 fw-bold">Client Company</p>
                  </div>
                  <div class="review-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                </div>
              </div>

              <div class="review-item d-flex flex-column align-items-center gap-4">
                <div class="review-client-image">
                  <img src="{{ url_for('static', filename='assets/xavier.jpg')}}" alt="Client Image">
                </div>
                <div class="review-body d-flex flex-column gap-2">
                  <div class="comment">
                    <p class="mb-0 fw-bold fs-5">"Lorem ipsum dolor sit amet."</p>
                  </div>
                  <div class="statement">
                    <p class="mb-0">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda officia enim dolores? Sapiente nam nesciunt deleniti tenetur ipsum unde nostrum, mollitia voluptatem ex accusantium minima temporibus officia ea aut, eligendi id, laborum ducimus ab placeat expedita eaque. Placeat eius aliquam doloremque nisi quos a nulla suscipit, nostrum vero optio eveniet."</p>
                  </div>
                  <div class="client-name">
                    <p class="mb-0 fw-bold">&dash; Client Name</p>
                  </div>
                  <div class="client-company">
                    <p class="mb-0 fw-bold">Client Company</p>
                  </div>
                  <div class="review-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                </div>
              </div>

              <div class="review-item d-flex flex-column align-items-center gap-4">
                <div class="review-client-image">
                  <img src="{{ url_for('static', filename='assets/xavier.jpg')}}" alt="Client Image">
                </div>
                <div class="review-body d-flex flex-column gap-2">
                  <div class="comment">
                    <p class="mb-0 fw-bold fs-5">"Lorem ipsum dolor sit amet."</p>
                  </div>
                  <div class="statement">
                    <p class="mb-0">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda officia enim dolores? Sapiente nam nesciunt deleniti tenetur ipsum unde nostrum, mollitia voluptatem ex accusantium minima temporibus officia ea aut, eligendi id, laborum ducimus ab placeat expedita eaque. Placeat eius aliquam doloremque nisi quos a nulla suscipit, nostrum vero optio eveniet."</p>
                  </div>
                  <div class="client-name">
                    <p class="mb-0 fw-bold">&dash; Client Name</p>
                  </div>
                  <div class="client-company">
                    <p class="mb-0 fw-bold">Client Company</p>
                  </div>
                  <div class="review-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                </div>
              </div>

               <div class="review-item d-flex flex-column align-items-center gap-4">
                  <div class="review-client-image">
                    <img src="{{ url_for('static', filename='assets/xavier.jpg')}}" alt="Client Image">
                  </div>
                  <div class="review-body d-flex flex-column gap-2">
                    <div class="comment">
                      <p class="mb-0 fw-bold fs-5">"Lorem ipsum dolor sit amet."</p>
                    </div>
                    <div class="statement">
                      <p class="mb-0">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda officia enim dolores? Sapiente nam nesciunt deleniti tenetur ipsum unde nostrum, mollitia voluptatem ex accusantium minima temporibus officia ea aut, eligendi id, laborum ducimus ab placeat expedita eaque. Placeat eius aliquam doloremque nisi quos a nulla suscipit, nostrum vero optio eveniet."</p>
                    </div>
                    <div class="client-name">
                      <p class="mb-0 fw-bold">&dash; Client Name</p>
                    </div>
                    <div class="client-company">
                      <p class="mb-0 fw-bold">Client Company</p>
                    </div>
                    <div class="review-rating">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                  </div>
                </div>
        </div>
      </div>
    </div>
</main>

<footer class="footer d-flex flex-column flex-md-row gap-5 align-items-md-stretch ps-lg-5 pe-lg-5 p-5 w-100">
  <div class="footer-section-1 d-flex flex-column gap-3 align-items-center justify-content-center h-100 w-100">
    <div class="footer-brand">
      <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Build Automate Logo" class="img-fluid">
    </div>
    <p class="mb-0 text-center">Copyright &copy; <span class="fw-bold" id="year">2025</span> Build Automate. All rights reserved.</p>
  </div>
  <div class="footer-section-2 d-flex flex-column h-100 w-100">
    <h3>Navigation</h3>
    <ul class="footer-links d-flex flex-column gap-3 justify-content-center list-unstyled mb-0 ps-2">
      <li><a class="nav-link" href="#">Home</a></li>
      <li><a class="nav-link" href="#">About Me</a></li>
      <li><a class="nav-link" href="#">Works</a></li>
      <li><a class="nav-link" href="#">Services</a></li>
      <li><a class="nav-link" href="#">Testimonial Videos</a></li>
      <li><a class="nav-link" href="#">Contact</a></li>
    </ul>
  </div>
  <div class="footer-section-3 d-flex flex-column h-100 w-100">
    <h3>Social Media</h3>
    <ul class="footer-links d-flex flex-column gap-3 list-unstyled mb-0 ps-2">
      <li><a class="nav-link" href="#"><i class="pe-2 fa-brands fa-facebook"></i> Facebook</a></li>
      <li><a class="nav-link" href="#"><i class="pe-2 fa-brands fa-twitter"></i> Twitter</a></li>
      <li><a class="nav-link" href="#"><i class="pe-2 fa-brands fa-instagram"></i> Instagram</a></li>
      <li><a class="nav-link" href="#"><i class="pe-2 fa-brands fa-linkedin"></i> LinkedIn</a></li>
    </ul>  
  </div>
</footer>

<script type="text/javascript">
    const yearContainer = document.getElementById('year');

    const currentYear = new Date().getFullYear();

    yearContainer.textContent = currentYear;
</script>
{% endblock %}